/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// Customizations

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt { tapping-term-ms = <300>; };

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESC>;
            key-positions = <2 3>;
            layers = <0>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <14 15>;
            layers = <0>;
        };

        bt_clr_profile {
            bindings = <&bt BT_CLR>;
            key-positions = <5 6>;
            layers = <3>;
        };

        Delete {
            bindings = <&kp DEL>;
            key-positions = <9 8>;
            layers = <0 1 2 3>;
        };

        USB_Output {
            bindings = <&out OUT_USB>;
            key-positions = <17 18>;
            layers = <3>;
        };

        BLE_Output {
            bindings = <&out OUT_BLE>;
            key-positions = <29 30>;
            layers = <3>;
        };

        Copy {
            bindings = <&kp LC(C)>;
            key-positions = <27 28>;
            layers = <0>;
        };

        Paste {
            bindings = <&kp LC(V)>;
            key-positions = <28 29>;
            layers = <0>;
        };

        Alt_Ctrl_Del {
            bindings = <&kp RA(RC(DELETE))>;
            key-positions = <5 6>;
            layers = <0>;
        };

        Undo {
            bindings = <&kp LC(Z)>;
            key-positions = <25 26>;
            layers = <0>;
        };

        Cut {
            bindings = <&kp LC(X)>;
            key-positions = <26 27>;
            layers = <0>;
        };

        RCtrl {
            bindings = <&kp RCTRL>;
            key-positions = <33 32>;
            layers = <0>;
        };

        RAlt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <32 31>;
            layers = <0>;
        };
    };

    behaviors {
        bt_pro0: bt_pro0 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_PRO0";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_DISC 0>;
        };

        bt_pro1: bt_pro1 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_PRO1";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&bt BT_DISC 1>;
        };

        bt_pro2: bt_pro2 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_PRO2";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&bt BT_DISC 2>;
        };

        bt_pro3: bt_pro3 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_PRO3";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&bt BT_DISC 3>;
        };

        bt_pro4: bt_pro4 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_PRO4";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&bt BT_DISC 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &kp Q  &kp W  &kp F  &kp P         &kp B        &kp J      &kp L            &kp U      &kp Y       &kp BACKSPACE  &none
&none  &kp A  &kp R  &kp S  &kp T         &kp G        &kp M      &kp N            &kp E      &kp I       &kp O          &none
&none  &kp Z  &kp X  &kp C  &kp D         &kp V        &kp K      &kp H            &kp COMMA  &kp PERIOD  &kp RET        &none
                     &mo 1  &kp LEFT_GUI  &kp SPACE    &kp SPACE  &kp RIGHT_SHIFT  &mo 2
            >;
        };

        left {
            bindings = <
&none  &kp INS          &kp HOME  &kp UP    &kp END    &kp PAGE_UP      &kp N7  &kp N8  &kp N9  &kp N0  &trans  &none
&none  &kp PRINTSCREEN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN    &kp N4  &kp N5  &kp N6  &none   &none   &none
&none  &none            &none     &none     &kp LCTRL  &kp LEFT_ALT     &kp N1  &kp N2  &kp N3  &trans  &trans  &none
                                  &trans    &trans     &trans           &trans  &trans  &trans
            >;
        };

        right {
            bindings = <
&none  &gresc     &kp UNDER      &kp PLUS   &kp LEFT_BRACE    &kp RIGHT_BRACE      &kp AMPS    &kp ASTRK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans     &none
&none  &kp GRAVE  &kp MINUS      &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp DOLLAR  &kp PERCENT  &kp CARET             &kp QUESTION           &kp COLON  &none
&none  &kp PIPE   &kp BACKSLASH  &none      &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES    &kp EXCL    &kp AT       &kp HASH              &kp SLASH              &kp SEMI   &none
                                 &trans     &trans            &trans               &trans      &trans       &trans
            >;
        };

        middle {
            bindings = <
&none  &none     &none     &none         &none      &none       &kp F7  &kp F8  &kp F9  &kp F10  &none  &none
&none  &none     &none     &kp LEFT_ALT  &kp RCTRL  &none       &kp F4  &kp F5  &kp F6  &kp F11  &none  &none
&none  &bt_pro0  &bt_pro1  &bt_pro2      &bt_pro3   &bt_pro4    &kp F1  &kp F2  &kp F3  &kp F12  &none  &none
                           &trans        &trans     &trans      &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer3_condition {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
